html,
body {
    height: 100%;
    margin: 0;
}

#login-signup-div {
    width: 100%;
    height: 82.5vh;
    background-image: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
}

/* Line With Text */

div.background {
    color: #17A2B7;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    text-align: center;
}

div.background:before {
    border-top: 1.5px solid #17A2B7;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 99.5%;
    z-index: -1;
}

div.background span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #fff;
    padding: 0 15px;
}

/* Question List */

.question-header {
    color: #17A2B8
}

.question-header:hover {
    color: #008394;
    text-decoration: none;
}

.question-body {
    color: #9E9E9E
}

.question-body:hover {
    color: #828282;
    text-decoration: none;
}

/* Top bar Logo */

.navbar-default {
    background-color: #008394;
    /* border-color: #E7E7E7; */
}

.link-none-underline {
    color: #FFFFFF;
}

.link-none-underline:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* Rounded Button */

.back404page {
    color: #FFFFFF;
}

.back404page:hover {
    color: #FFFFFF;
    text-decoration: none;
}

#cardBottomBar {
    background: #9E9E9E;
    width: 99%;
    height: 6vh;
    margin: 0 auto;
    display: table;
}

.child {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

#topicContainer {
    margin-top: 3%;
    width: inherit;
    height: 40vh;
}

#card-margin-top-bottom {
    margin-top: 3%;
    width: inherit;
    margin-bottom: 3%;
}

#topicCard {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border: none;
}

div.button3 {
    width: auto;
    height: auto;
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    text-align: center;
    transition: all 0.2s;
}

div.button3:hover {
    color: #828282;
}

div.button3#ask-submit {
    width: 10em;
    font-size: 1.3em;
}

@media all and (max-width:30em) {
    div.button3 {
        display: block;
        margin: 0.2em auto;
    }
}

/*  */

/* 404Page */

#main {
    display: table;
    width: 100%;
    height: 87.5vh;
    background-image: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
    text-align: center;
}

.fof {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

.fof h1 {
    font-size: 60px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
}

@keyframes type {
    from {
        box-shadow: inset -3px 0px 0px #888;
    }
    to {
        box-shadow: inset -3px 0px 0px transparent;
    }
}

/*  */

.top-logo {
    margin: 0 auto;
    color: #FFFFFF;
    -webkit-filter:brightness(1000%); 
    filter: brightness(1000%) drop-shadow(5px 10px 15px rgba(255,255,255,0.6));
    /* filter: drop-shadow(8px 8px 10px gray); */
    /* filter: contrast(1000%); */
}

/*  */

.field-container {
    position: relative;
    padding: 0;
    margin: 0 auto;
    border: 0;
    width: 70%;
    height: 60px;
}

.icons-container {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 45px;
    height: 45px;
    overflow: hidden;
}

.icon-close {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 75%;
    height: 75%;
    opacity: 0;
    cursor: pointer;
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
    border-radius: 50%;
    transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.icon-close:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: 2px solid transparent;
    border-top-color: #6078EA;
    border-left-color: #6078EA;
    border-bottom-color: #6078EA;
    transition: opacity 0.2s ease;
}

.icon-close .x-up {
    position: relative;
    width: 100%;
    height: 50%;
}

.icon-close .x-up:before {
    content: "";
    position: absolute;
    bottom: 4.5px;
    left: 4px;
    width: 50%;
    height: 2px;
    background-color: #6078EA;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icon-close .x-up:after {
    content: "";
    position: absolute;
    bottom: 4.5px;
    right: 0px;
    width: 50%;
    height: 2px;
    background-color: #6078EA;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.icon-close .x-down {
    position: relative;
    width: 100%;
    height: 50%;
}

.icon-close .x-down:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 4px;
    width: 50%;
    height: 2px;
    background-color: #6078EA;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.icon-close .x-down:after {
    content: "";
    position: absolute;
    top: 5px;
    right: 1px;
    width: 50%;
    height: 2px;
    background-color: #6078EA;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.is-type .icon-close:before {
    opacity: 1;
    -webkit-animation: spin 0.85s infinite;
    animation: spin 0.85s infinite;
}

.is-type .icon-close .x-up:before,
.is-type .icon-close .x-up:after {
    -webkit-animation: color-1 0.85s infinite;
    animation: color-1 0.85s infinite;
}

.is-type .icon-close .x-up:after {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.is-type .icon-close .x-down:before,
.is-type .icon-close .x-down:after {
    -webkit-animation: color-1 0.85s infinite;
    animation: color-1 0.85s infinite;
}

.is-type .icon-close .x-down:before {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.is-type .icon-close .x-down:after {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.icon-search {
    position: relative;
    top: 5px;
    left: 8px;
    width: 50%;
    height: 50%;
    opacity: 1;
    border-radius: 50%;
    border: 3px solid #c7d0f8;
    transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.icon-search:after {
    content: "";
    position: absolute;
    bottom: -9px;
    right: -2px;
    width: 4px;
    border-radius: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 10px;
    background-color: #c7d0f8;
}

.field {
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    padding: 10px 15px;
    padding-right: 45px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 8px 15px rgba(75, 72, 72, 0.1);
    transition: all 0.4s ease;
}

.field:focus {
    outline: none;
    box-shadow: 0px 9px 20px rgba(75, 72, 72, 0.3);
}

.field:focus+.icons-container .icon-close {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.field:focus+.icons-container .icon-search {
    opacity: 0;
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
}